numpy>=1.26,<3
pyarrow>=17,<25
scipy>=1.13,<2
pandas>=2.2,<3
scikit-learn>=1.5,<2
matplotlib>=3.8,<4
seaborn>=0.13,<1
soundfile>=0.12,<1
librosa>=0.10,<1
torch==2.7.1
torchaudio==2.7.1
transformers>=4.57,<4.58
safetensors>=0.4,<1
streamlit>=1.36,<2
pyyaml>=6.0,<7
tqdm>=4.66,<5
